@import url(https://fonts.googleapis.com/css?family=Khula:700);
bodycss {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:70px;
  text-align:center;
  height:50px;
  width:100%;
  
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;

}

fieldset {
  display: block;
  margin: 20px auto;
  padding: 15px;
  border: 0;
  border: 1px solid red;
  width: 50%;
}
legend {
  display: table;
  min-width: 0px;
  max-width: 70%;
  position: relative;
  margin: auto;
  padding: 5px 20px;
  font-size: 20px;
  text-align: center;
}